* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  margin: 47px 0 0 42px;
}

.link-header {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #17233d;
  cursor: pointer;
  margin-right: 21px;
}

.button-header {
  width: 124px;
  height: 51px;
  background: #6fbf44;
  border-radius: 6px;
  border: 1px solid #4cb538;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.logo-image {
  width: 595px;
  height: 500px;
  margin-top: 163px;
  margin-left: 121px;
  display: inline-block;
}

section {
  display: inline-block;
  margin-left: 85px;
}

h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 82px;
  color: #161a49;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #4b505a;
  width: 493px;
  height: 99px;
  margin-top: 47px;
  margin-bottom: 55px;
}

.button-main {
  width: 112px;
  height: 27px;
  color: #6FBF44;
  border: none;
  background: none;
  font-weight: 500px;
  font-size: 18px;
  cursor: pointer;
}